@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');






main{
    width: 80%;
    margin: auto;
    font-family: 'Roboto Slab', 'Bitter', serif;
    
}

body{
    margin: 0;
    height: auto;
    font-family: sans-serif;
}


h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: grey;
}

#landing{
    background-color: bisque;
    border-radius: 20px;
}

#landing-text{
    display: flex;
    /*can't grow     shrink    maxinmum viewport height    */
    flex: 0 1 40vh;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    text-align: center;
}
#news{
    margin-top: 20px;
}
    
    

#landing-image{
    background-image: url("../images/nightbeach.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
/*    width: 60vh;*/
}

.btn1{
    border:1px #ccc solid;
    padding: 0.5rem 0.5rem;
    margin-top: 1.5rem;
    border-radius: 50px;
    color: white;
    background-color: dimgray;
    text-decoration: none;
    transition: background 1200ms ease;
}

.btn1:hover{
    background-color: chocolate;
}

.header h2{
    color: black;
    background-color: grey;
    margin: 0;
    padding: 10px;
    text-align: center;
}

img{
    display: block;
    width:100%;
    height: auto;
}

.caption{
    text-align: center;
    margin: -10px;   
}

.fix{
    position: fixed;
    top: 50vh;
    margin-left: -3.8rem;
}

.block{
    width: 33.3%;
    float: left;
    display: inline-block;
    height: 400px;
    border: 1px solid black;
    box-sizing: border-box;
}
figure{
    margin: 0;
}
